<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charsert="UTF-8">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

	<!-- Must Inlude for Login Portal -->
	<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">

	<title> Business: Login/Signup </title>

	<style>
		body {
			background: #F1F1F1;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
		}


		* {
			box-sizing: border-box;
		}
		

	</style>
</head>

<body>
	{% block content %}

	<!-- <form method="post">
		{% csrf_token %}
		{{form.as_p}}
		<input type="submit" value="Sign up">
	</form> -->

	<!-- <form method="post">
		{% csrf_token %}
		{{form.as_p}}
		<input type="submit" value="Login">
	</form> -->
	<div class="logincard"> 
		<div class="row">

			
			
			
			<form method="POST">
				{% csrf_token %}
				<div class="twocolumn" id="logincol">
					<div class="bigheadertxt"> LOGIN </div>
					<div class="usertagtxt" style="color: #4CB9B2;"> business </div>
					<!-- style="top: 60px"

					<label for="email" class="labeltxt" style="top: 60px">Email Address</label>
	    			<input type="text" class="txtinput" style="top: 60px" name="email" required> <br> -->

	    			<label for="id_email" class="labeltxt" style="top: 60px">Email:</label>
					<input type="email" name="email" maxlength="254" autofocus="" required="" id="id_email" class="txtinput" style="top: 60px"> 
					<span class="helptext">Required. Inform a valid email address.</span><br>


					<label for="id_password1" class="labeltxt" style="top: 60px">Password:</label>
					<input type="password" name="password1" autocomplete="new-password" required="" id="id_password1" class="txtinput" placeholder="Enter Password" style="top: 60px">

					<input type="submit" value="Login">
	    			<!-- <button type="submit" value = "Sign up" class="enterbutton" style="background: #4CB9B2; top: 130px" > SIGNUP </button> -->
					
				</div>
			</form>

			


			<div class="line"> </div>

			<hr>

			<form method="post">
				<div class="twocolumn" id="signupcol">
					{% csrf_token %}

					<div class="bigheadertxt"> SIGNUP </div>
					<div class="usertagtxt" style="color: #F57F17;"> business </div>
					
					<label for="id_first_name" class="labeltxt">First Name:</label>
					<input type="text" name="first_name" maxlength="30" required="" id="id_first_name" class="txtinput">  <br>

					<label for="id_last_name" class="labeltxt">Last name:</label>
					<input type="text" name="last_name" maxlength="30" required="" id="id_last_name" class="txtinput">
					

					<label for="id_email" class="labeltxt">Email:</label>
					<input type="email" name="email" maxlength="254" autofocus="" required="" id="id_email" class="txtinput"> 
					<span class="helptext">Required. Inform a valid email address.</span><br>


					<label for="id_password1" class="labeltxt">Password:</label>
					<input type="password" name="password1" autocomplete="new-password" required="" id="id_password1" class="txtinput" placeholder="Enter Password">
					<span class="helptext"></span>

					<label for="id_password2" class="labeltxt">Password confirmation:</label>
					<input type="password" name="password2" autocomplete="new-password" required="" id="id_password2" class="txtinput"> 
	    			 <div class="forgetpassword" > <a href="#forgetpass" style="text-decoration: none; color: #F57F17;" class="forpassid"> Forget Password? </a> </div>
					
					<!-- <input type="hidden" name="next" value="/index.html"> -->
					<input type="submit" value="Sign up">
	    			<!-- <button type="submit" value = "Sign Up" class="enterbutton" style="background: #F57F17"> LOGIN </button> -->
					
				</div>
			</form>
		</div> 
	</div>
	{% endblock content %}
</body>


</html>