{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

	<title>
		{% block title %}
		{{ page_title|default:"Untitled Page" }}
		{% endblock title %}
	</title>

	<link href="{% static 'volopplistingbase.css' %}" rel="stylesheet" type="text/css">

</head>

<body>

	<div class="titletxt"> VOLUNTEER OPPORTUNITIES </div>

	<div class="vtopnav"> 
		<button class="loginbut" id="loginBtn"> Log in</button>
		<a href="{% url 'business-login' %}"> Business </a>
		<a href="{% url 'npo-login' %}"> Nonprofits</a>
   		<a href="{% url 'vol-login' %}"> Volunteers</a>

	</div>

	<!-- First Modal -->
	<div id="myModal" class="modal">

		<div class="modal-content">
			<span class="close" id="mainClose"> &times; </span>
			<h1 class="loginbigtxt"> Login | Signup </h1>
			<p class="loginsmalltxt">In order to register for this opportunity, please log in to an existing account or register to create a new account.</p> <br> <br> 

			<div class="row"> 
				<div class="twocolumn"> 
					<button class="logindirectbutton" onclick="openLogin();"> Login </button> 
				</div>
				<div class="twocolumn"> 
					<button class="signupdirectbutton" onclick="openSignup()"> Signup </button> 
				</div>
			</div>
		</div>

	</div>


	<!-- Login Modal -->
	<div id="loginModal" class="modal">
		<div class="modal-content" style="width: 35%">
			<span class="close" id="loginClose"> &times; </span>
			<h1 class="loginbigtxt"> Login </h1> <br> 

			<label for="email" class="labeltxt">Email Address</label>
			<input type="text" class="txtinput" name="email" required> <br>

			<label for="psw" class="labeltxt"> Password </label>
			<input type="password" class="txtinput" placeholder="Enter Password" name="psw" required>

			 <div class="forgetpassword" > <a href="#forgetpass" style="text-decoration: none; color: #F57F17;" class="forpassid"> Forget Password? </a> </div> <br> <br> <br>

			<button type="submit" class="enterbutton" style="background: #F57F17"> LOGIN </button> <br>

		</div>
	</div>


	<!-- Signup Modal -->
	<div id="signupModal" class="modal">
		<div class="modal-content" style="width: 40%">
			<span class="close" id="signupClose"> &times; </span>
			<h1 class="loginbigtxt"> Signup </h1> <br> 

			<label for="email" class="labeltxt">Email Address</label>
			<input type="text" class="txtinput" name="email" required> <br>

			<label for="psw" class="labeltxt"> Password </label> 
			<input type="password" class="txtinput" placeholder="Enter Password" name="psw" required> <br>

			<label for="psw" class="labeltxt" > Confirm Password </label>
	    	<input type="password" class="txtinput" placeholder="Enter Password" name="psw" required><br> <br> <br>

			<button type="submit" class="enterbutton" style="background: #4CB9B2"> SIGNUP </button> <br>

		</div>
	</div>

		{% block volcontenttop %}
			<p>Placeholder text in base template. Replace with page content.</p>
		{% endblock volcontenttop %}


	<!-- <div class="gridcontainer">  -->
		<!-- <section id="main"> -->
			{% block voloppcontent %}
				<p>Placeholder text in base template. Replace with page content.</p>
			{% endblock voloppcontent %}
	<!-- 	</section> -->

	<!-- </div> -->
	


<script language = "javascript" type="text/javascript">

	// Getting Main Modal
	var mainMod = document.getElementById("myModal");
	var mainSpan = document.getElementById("mainClose");

	// Get the button that opens the main modal
	var mainbtn = document.getElementById("loginBtn");

	// When the user clicks the button, open the modal 
	mainbtn.onclick = function() {
		mainMod.style.display = "block";
	}

	// When the user clicks on <span> (x), close the modal
	mainSpan.onclick = function() {
		mainMod.style.display = "none";
	}

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
		if (event.target == mainMod) {
			mainMod.style.display = "none";
	  	}
	} 

	// Rest of Modals
	// Getting Login Modal
	var logMod = document.getElementById("loginModal");
	var logSpan = document.getElementById("loginClose");

	// Function called when Login Button is pressed from main modal
	function openLogin() {
		logMod.style.display = "block";
		mainMod.style.display = "none";
	}

	logSpan.onclick = function() {
		logMod.style.display = "none";
	}

	window.onclick = function (event) {
		if (event.target == logMod) {
			logMod.style.display = "none";
		}
	}

	// Getting Signup Modal
	var signMod = document.getElementById("signupModal");
	var signSpan = document.getElementById("signupClose");

	// Function called when Login Button is pressed from main modal
	function openSignup() {
		signMod.style.display = "block";
		mainMod.style.display = "none";
	}

	signSpan.onclick = function() {
		signMod.style.display = "none";
	}

	window.onclick = function (event) {
		if (event.target == signMod) {
			signMod.style.display = "none";
		}
	}

</script>
</body>

</html>