{% extends "tempbase.html" %}
{% load widget_tweaks %}


{% block title %} ADDING OPPORTUNITIES {% endblock title %}


{% block maintitletxt %}
	ADDING OPPORTUNITIES
{% endblock maintitletxt %}

{% block npousernamedrop %}
	MasBia
{% endblock npousernamedrop %}

{% block npousername %}
	MasBia
{% endblock npousername %}


{% block welcometxt %}
	Post new volunteer opportunities for students.
{% endblock welcometxt %}

{% block subtitletxt %}
	Add Volunteer Opportunity
{% endblock subtitletxt %}

{% block content %}
	<!-- <h1>Add your venue to our database</h1> -->
 
{% if submitted %}
	<p class="success">
		Your venue was submitted successfully. Thank you.
	</p>
{% else %}
	<form action="" method="post" enctype="multipart/form-data" >
		<!-- <table>
			{{ form.as_table }}
		<tr>
			<td>&nbsp;</td>
			<td><input type="submit" value="Submit"></td>
		</tr>
		</table> -->
		{% csrf_token %}

		<div class="formlabeltxt" style="width: 80%"> {{ form.orgname.label_tag }} </div>
		{{ form.orgname | add_class:"forminputbox" }} <br> <br><br>

		<div class="formlabeltxt" style="width: 80%"> {{ form.vol_title.label_tag }}</div>
		{{ form.vol_title | add_class:"forminputbox" }} <br> <br> <br>

		<div class="formlabeltxt" style="width: 80%"> {{ form.vol_description.label_tag }}</div>
		{{ form.vol_description | add_class:"descriptioninputbox"}} <br> <br> <br>

		<div class="formlabeltxt" style="width: 80%">{{ form.vol_location.label_tag }}</div>
		{{ form.vol_location | add_class:"smallforminputbox"}} <br> <br> <br>

		<div class="formlabeltxt" style="width: 80%">{{ form.vol_date.label_tag }}</div>
		{{ form.vol_date | add_class:"smallforminputbox"}} <br> <br> <br>

		<div class="formlabeltxt" style="width: 80%">{{ form.org_phone.label_tag }}</div>
		{{ form.org_phone | add_class:"smallforminputbox"}} <br> <br> <br>

		<div class="formlabeltxt" style="width: 80%">{{ form.age_requirements.label_tag }}</div>
		{{ form.age_requirements | add_class:"smallsmallforminputbox"}} <br> <br> <br>

		<div class="formlabeltxt" style="width: 80%">{{ form.points.label_tag }}</div>
		{{ form.points | add_class:"smallsmallforminputbox"}} <br> <br> <br>


		<div class="formlabeltxt" style="width: 80%">{{ form.vol_filters.label_tag }}</div> <br> <br>
		{{ form.vol_filters | add_class:"filtercheckbox"}} <br>


		<!-- <div class="formlabeltxt" style="width: 80%; top: -50px">{{ form.vol_photo.label_tag }}</div>
		<div id="realfile" style="display: none" name="uploadPerkPhoto" > {{ form.vol_photo }} </div> <br> <br>
		<button type="button" class="filecustombutton" id="filecustombutton"> 
        	<span class="glyphicon glyphicon-plus"></span> Select File
        </button>
        <span class="filecustomtxt" id="filecustomtxt"> No File Selected </span> <br> <br> -->

        
        <div class="formlabeltxt" style="width: 80%; top: 0px;">{{ form.vol_photo.label_tag }} </div> 
        <div style="position: relative;left: 85px;"> {{ form.vol_photo }} </div><br> <br> <br>


		<input type="submit" value="Submit" class="submitbutton">
	</form>
{% endif %}

{% endblock content %}



