{% extends "tempbase.html" %}
{% load widget_tweaks %}



{% block title %} NPO: HOME {% endblock title %}


{% block maintitletxt %}
	NPO: HOME
{% endblock maintitletxt %}

{% block npousernamedrop %}
	MaxWells
{% endblock npousernamedrop %}

{% block npousername %}
	MaxWells
{% endblock npousername %}


{% block welcometxt %}
	Check, manage, and view your preferences.
{% endblock welcometxt %}

{% block subtitletxt %}
	<br>
{% endblock subtitletxt %}

{% block content %}
		
  <br>


{% endblock content %}



