<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charsert="UTF-8">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

	<!-- Must Inlude for Login Portal -->
	<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">


	<style>
		body {
			background: #F1F1F1;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
		}


		* {
			box-sizing: border-box;
		}
		

	</style>
</head>

<body>

	<div class="logincard"> 
		<div class="row">
			<form action="/action_page.php" method="post">
				<div class="twocolumn" id="logincol">
					<div class="bigheadertxt"> LOGIN </div>
					<div class="usertagtxt" style="color: #F57F17;"> nonprofit </div>

					<label for="email" class="labeltxt">Email Address</label>
	    			<input type="text" class="txtinput" name="email" required> <br>

	    			<label for="psw" class="labeltxt"> Password </label>
	    			<input type="password" class="txtinput" placeholder="Enter Password" name="psw" required>

	    			 <div class="forgetpassword" > <a href="#forgetpass" style="text-decoration: none; color: #F57F17;" class="forpassid"> Forget Password? </a> </div>

	    			<button type="submit" class="enterbutton" style="background: #F57F17"> LOGIN </button>
				</div>
			</form>

			<div class="line"> </div>

			<hr>

			<form action="/action_page.php" method="post">
				<div class="twocolumn" id="signupcol">
					<div class="bigheadertxt"> SIGNUP </div>
					<div class="usertagtxt" style="color: #4CB9B2;"> nonprofit </div>

					<label for="email" class="labeltxt" style="top: 60px">Email Address</label>
	    			<input type="text" class="txtinput" style="top: 60px" name="email" required> <br>

	    			<label for="psw" class="labeltxt" style="top: 60px"> Password </label>
	    			<input type="password" class="txtinput" style="top: 60px" placeholder="Enter Password" name="psw" required> <br>

	    			<label for="psw" class="labeltxt" style="top: 60px"> Confirm Password </label>
	    			<input type="password" class="txtinput" style="top: 60px" placeholder="Enter Password" name="psw" required>

	    			<button type="submit" class="enterbutton" style="background: #4CB9B2; top: 130px" > SIGNUP </button>
				</div>
			</form>
		</div> 
	</div>
</body>


</html>