{% extends "tempbase.html" %}
{% load widget_tweaks %}

{% block title %} ADDING OPPORTUNITIES: SUBMITTED {% endblock title %}


{% block maintitletxt %}
	ADDING OPPORTUNITIES
{% endblock maintitletxt %}

{% block npousernamedrop %}
	MasBia
{% endblock npousernamedrop %}

{% block npousername %}
	MasBia
{% endblock npousername %}


{% block welcometxt %}
	Post new volunteer opportunities for students.
{% endblock welcometxt %}

{% block subtitletxt %}
	Add Volunteer Opportunity
{% endblock subtitletxt %}

{% block content %}
	
	<br> <br>
	Your volunteer opportunity was added successfully!


{% endblock content %}