{% extends 'volopplistingbase.html' %}

{% block title %}{{ "Volunteer: Opportunities" }}{% endblock title %}


{% block voloppcontent %}

<div class="description"> 
	<div class="volunteerdescription">
	<div class="welcometxt"> Food Pantry Volunteer </div>
	<div class="welcomecontxt"> Food Bank for New York City </div>
	</div>
		<div class="points">
	<div class= "points_img">
			 <img src="trophy.svg"></div>
		<div class = "points_text">
			<span style="font-weight: 900; font-size: 70px;"> 10 </span> <span style="font-weight:400; font-size: 50px;">PTS</span>
		</div>
		</div>
	</div>

<div class="boxtemplate">
	<div class="boxcontent"></div>
	<div class="volunteerdetails">
		<div class="posteddate"> Posted June 26, 2020 </div>
		<p class="text1">For 35 years, Food Bank For New York City has been the city’s major hunger-relief organization working to end hunger throughout the five boroughs.</p>

			<p>Volunteers are needed to help donate food to restock the food bank, including:
			Canned vegetables, Canned soups, Cereals, Pasta, Rice, Beans.<br> <br>Additionally, volunteers are needed for sorting and packing of food boxes for distribution.</p>
				
			<p><a href="https://www.foodbanknyc.org/"> www.foodbanknyc.org</a></p>
		</div>
		<div class="oppt_specifics">
			<div class="oppt_specifics_txt">
			<div class="where">
				<h4 class="specifics_text">Where</h4>
				<h4 class="specifics_location">355 Food Center Dr. <br>
					New York, NY 10474 <br>
					718.991.4300
				</h4>
			</div>
			<div class="when">
				<h4 class="specifics_text">When</h4>
				<h4 class="specifics_location">We'll work with your schedule!
				</h4>
			</div>
			<div class="age_reqs">
				<h4 class="specifics_text">Requirements</h4>
				<h4 class="specifics_location">Ages 13+
				</h4>
			</div>
		</div>

	</div>
	<div class="volunteer_img">
		<img src="foodbanknyc.png" width="520">
	</div>
</div>

{% endblock voloppcontent %}