

		/* Navbar Style*/
		.sidenavbar {
			height: 100%;
			width: 75px;
			position: fixed;
			z-index: 1;
			top: 0;
			left: 0;
			background: #4CB9B2;
			border-radius: 0px 10px 10px 0px;
			overflow-x: hidden;
			padding-top: 170px;
			text-align: center;

		}

		.sidenavbar a {
			/*padding: 6px 8px 6px 16px;*/
			padding-bottom: 55px;
			text-decoration: none;
			font-size: 25px;
			color: #FFFFFF;
			display: block;
		}

		.sidenavbar a:hover {
			fill: orange;
			color: orange;
		}

		.homesvg {
			/*color: #FFFFFF;*/
			fill: #FFFFFF;
			width: 40px;
		}

		.homesvg:hover {
			width: 80px;
		/*box-shadow: 120px 80px 40px 20px #0ff;*/
		}

		.homesvgpath:hover {
			/*fill: #FBC02D;*/
			width: 80px;
			/*box-shadow: 120px 80px 40px 20px #0ff;*/
		}

		.homesvgpath:active {
			fill: #FBC02D;
		}

		.searchsvg {
			fill: #FFFFFF;	
			margin-top: 10px;
		}

		.searchsvg:hover {
			margin-top: -3px;
			width: 60px;
			height: 60px;
		
		}

		.searcbsvgpath:active {
			fill: #FBC02D;
		}

		.promotesvg {
			margin-top: 5px;
			width: 45px;
		}

		.promotesvg:hover {
			margin-top: 0px;
			width: 55px;
			height: 50px;
		}


		.promotesvgpath:active {
			fill: #FBC02D;
		}


		/* Content style*/
		body {
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			color: #000000;
		}

		.content {
			/* Dont change*/
			margin-left: 60px; 
			margin-top: -10px;
			margin-right: -10px;
			margin-bottom: -10px;
			font-size: 28px; 
			padding: 0px 10px;
			background-color: #EDF0F0;

			/* Change height */
			height: 1848px;
		}

		.titletxt {
			position: relative;
			width: 222px;
			left: 60px;
			top: 50px;
			
			font-weight: bold;
			font-size: 36px;
			line-height: 42px;

			color: #4CB9B2;
		}

		.bellsvg {
			position: relative;
			float: right;
			top: 10px;
			right: 220px;

		}

		.usericon {
			position: relative;
			float: right;
			top: 10px;
			right: 90px;
		}

		.dropdown-content {
			display: none;
			position: absolute;
			background-color: #FFFFFF;
			min-width: 210px;
			border-radius: 10px;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			z-index: 1;
			float: right;
			text-align: right;
			right: 130px;
			top: 72px;
			list-style-type:none;
			padding-top: 16px;
			padding-bottom: 25px;


			font-family: Roboto;
			font-style: normal;
			font-weight: 300;
			font-size: 18px;
			line-height: 21px;

		}

		.dropdown-content a {

			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
		}


		.dropdown-content a:hover {
			color: #4DB6AC;
		}

		.dropdown:hover .dropdown-content {
			display: block;
		}



		.welcomebox {
			position: relative;
			width: 1170px;
			height: 191px;
			left: 60px;
			top: 100px;

			background: #FFFFFF;
            border-radius: 40px;
            display: flex;
           
        }

		.welcometxt {
			position: relative;
			width: 582px;
			height: 42px;
			left: 60px;
			top: 50px;

			font-weight: bold;
			font-size: 36px;
            line-height: 42px;
        }
        
        .volunteerhands_img{
            float: right;
            position: relative;
            left: 200px;
        }

		.welcomecontxt {
			/* Dont change*/
			position: relative;
			width: 582px;
			height: 42px;
			font-size: 24px;
			line-height: 28px;

			left: 60px;
			top: 60px;
		}

        /*progress and cause area boxes on dashboard */
        .dashboardcontent{
            display: flex;
        }

		.dashboardbox1 {
			/* Dont change*/
			position: relative;
			width: 40%;
			background: #FFFFFF;
			border-radius: 40px;

			/* Change here*/
			height: 400px;
			left: 60px;
            top: 150px;
            margin-right: 50px;
		}

        .dashboardbox2 {
			/* Dont change*/
			position: relative;
			width: 40%;
			background: #FFFFFF;
			border-radius: 40px;

			/* Change here*/
			height: 400px;
			left: 90px;
            top: 150px;
            margin-left: 0px;
		}

        .dashboardboxtitle {
			/* Dont change*/
			position: relative;
			width: 582px;
			height: 29px;
			left: 60px;
			top: 35px;
			font-weight: bold;
			font-size: 24px;
			line-height: 28px;
		}

        .pointcontainer{
            display: inline-flex;
        }
        .pointconversion{
            margin-top: 4px;
            position: relative;
			width: 582px;
			height: 29px;
			left: 60px;
            top: 35px;
			font-weight: 300;
            font-size: 18px;
            line-height: 21px;
        }

        .pointchart{
            position: relative;
            left: 60px;
            top: 60px;
        }

        .progresstext{
            margin-top: 4px;
            position: relative;
			width: 582px;
			height: 29px;
			left: 100px;
            top: 60px;
			font-weight: 300;
            font-size: 18px;
            line-height: 21px;
        }

        .levelandimg{
            display: flex;
        }

        .levelcrown{
            position: relative;
            left: 5px;
            top: -2px;
        }
        .pointlevel{
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;  
            margin-bottom: 4px;
        }

        .pointlevelup{
            font-weight: 300;
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 20px;
        }
        .pbutton{
            display: block;
            margin-bottom: 20px;
            cursor: pointer;
        }

        #redeem{
            height: 50px;
            width: 150px;

            background-color: #fff;
            border: 1px solid #F57F17;
            box-sizing: border-box;
            border-radius: 10px;
            font-size: 18px;
            line-height: 21px;

            color: #F57F17;
        }

        #redeem:hover{
            border: 2px solid #D96B06;
            color: #D96B06;
        }

        #earnhours{
            height: 50px;
            width: 150px;

            background-color:#F57F17;
            border: none;
            border-radius: 10px;
            font-size: 18px;
            line-height: 21px;

            color: #fff;
        }

        #earnhours:hover{
            background-color: #FBC02D;
        }

        .topcauses{
            display: block;
            position: relative;
            left: 60px;
            top: 60px;
            margin-top: -10px;
        }

        .causetext{
            font-weight: 500;
            font-size: 30px;
            line-height: 28px;
            margin-left: 40px;
        }

        .educationcause{
            display: flex;
            margin-bottom: 25px;
            margin-right: 40px;
        }

        .animalscause{
            display: flex;
            margin-bottom: 25px;
            margin-right: 40px;
        }

        .environmentcause{
            display: flex;
        }

        /*Redeemed perks table */
        .perksredeemed{
        	
                /* Dont change*/
                position: relative;
                width: 1170px;
                background: #FFFFFF;
                border-radius: 40px;
    
                /* Change here*/
                height: 600px;
                left: 60px;
                top: 200px;
        }

        .redemptiontable{
            position: relative;
            top: 60px;
            left: 60px;
            border-collapse: collapse;
            width: 95%;
        }

        td,th{
            text-align: left;
            padding: 20px;
        }

        tr:nth-child(even){
            background-color: #FBC02D;
        }
        .pointbalance{
            text-align: right;
            position: relative;
            right: 60px;
        }