/* Content style*/
body {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	background: #EDF0F0;
}

.vtopnav {
	/*overflow: hidden;*/
	list-style:none;
	text-align:center;
}

.vtopnav a {
	float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 20px 20px;
	padding-left: 30px;
	padding-right: 30px;
	text-decoration: none;
	font-size: 17px;
	transition: 0.5s;

	text-decoration: none;
	color: #000000;
	display:inline;
	text-align:center;
}



.vtopnav a:hover {
	color: #4CB9B2;
		transition: 0.4s;
}

/*.vtopnav a:after {
	content: '';
	position: absolute;	
	left: 50%;
	bottom: -5px;
	transform: translateX(-50%) scaleX(0);
	-webkit-transform: translateX(-50%) scaleX(0);
	-webkit-transform-origin: 50% 50%;
	width: 80%;
	height: 2px;
	background-color: #4CB9B2;
	-webkit-transition: transform 250ms;
	transition: transform 250ms;		
}


.vtopnav a:hover:after {
	-webkit-transform: translateX(-50%) scaleX(1);
	transform: translateX(-50%) scaleX(1);  
}*/


.vtopnav a.active{
	color: #4CB9B2;
}

.loginbut {
	cursor: pointer;
	float: right;
	color: #f2f2f2;
	text-align: center;

	margin-top: 15px;
	margin-left: 20px;
	margin-right: 10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-decoration: none;
	font-size: 17px;
	transition: 0.5s;

	text-decoration: none;
	color: #000000;
	display:inline;
	text-align:center;

	background: #FF8816;
	border-radius: 30px;
	border: none;
}

.loginbut:hover {
	background: #FDCD01;

}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	/*border: 1px solid #888;*/
	border: none;
	border-radius: 5px;
	width: 45%;
}

/* The Close Button */
.close {
	color: #000000;
	float: right;
	font-size: 35px;
	font-weight: 400;
	margin-top: 20px;
	margin-right: 20px;
}

.close:hover, .close:focus {
	/*color: #000;*/
	text-decoration: none;
	cursor: pointer;
	color: red;
	cursor: pointer;
}

.loginbigtxt{
    margin-left: 30px;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
    width: 100%;
}

.loginsmalltxt {
	width:80%;
	text-align: center;
	margin: 0 auto;
	font-weight: 300;
	font-size: 18px;
	line-height: 28px;

	color: #000000;	

}

.twocolumn {
	float: left;
	width: 50%;
	padding: 10px;
	top: 100px;
	height: 100%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
	/*width: 80%;*/
}


.logindirectbutton {
	/*float: left;*/
	/*margin-left: 20%;*/
	background: #F57F17;
	border-radius: 10px;
	border: none;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;

	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	text-align: center;

	margin: 0 auto;
	display: block;

	color: #FFFFFF;
	cursor: pointer;
}

.logindirectbutton:hover {
	background: #FDCD01;
}

.signupdirectbutton{
	/*margin-top: -200px;*/
	/*margin-left: 60%;*/
	background: #4CB9B2;
	border-radius: 10px;
	border: none;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;

	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	text-align: center;

	color: #FFFFFF;

	margin: 0 auto;
	display: block;
	cursor: pointer;
}

.signupdirectbutton:hover {
	background: #FDCD01;
}


.labeltxt {
	position: relative;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	left: 10%;
	top: 0px;
}

.txtinput {
	position: relative;
	width: 80%;
	height: 54px;

	margin: 0 auto;
	display: block;
	background: rgba(196, 196, 196, 0.23);
	border-radius: 4px;
	border: none;

	top: 0px;
	padding-left: 20px;

	font-weight: 200;
	font-size: 18px;
	line-height: 21px;
}

.forgetpassword {
	position: relative;
	right: 10%;
	top: 10px;

	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	text-align: right;

	color: #F57F17;
}

.forgetpassword a:hover {
	font-weight: bold !important;
}

.enterbutton {
	position: relative;
	display: block;
	margin: 0 auto;
	cursor: pointer;

	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	color: #FFFFFF;

	background: #F57F17;
	border-radius: 10px;
	border: none;

	width: 130px;
	height: 45px;
	top: 0px;
}


.enterbutton:hover {
	background: #F2C34A !important;
}



/*End modal*/



.titletxt {
	position: relative;
	width: 515px;
	left: 60px;
	top: 50px;
	
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;

	color: #4CB9B2;
}


.findbox {
	position: relative;
	width: 80%;
	height: 580px;
	top: 100px;
	margin: 0 auto;

	background: #FFFFFF;
	border-radius: 40px;
}

.findtxt {
	position: relative;
	width: 90%;
	height: 42px;
	left: 60px;
	top: 50px;
	/*background: orange;*/

	font-weight: bold;
	font-size: 24px;
	line-height: 42px;
}

.subfindtxt {
	position: relative;
	width: 219px;
	height: 23px;
	left: 12%;
	/*left: 150px;*/
	top: 120px;

	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
}




* {
	box-sizing: border-box;
}



.iconbox {
	position: relative;
	/*left: 210px;*/
	width: 80%;
	top: 70px;
	height: 110px;
	margin: 0 auto;
}

/* Clear floats after the columns */
.iconrow:after {
	content: "";
	display: table;
	clear: both;

}

/* Create three equal columns that floats next to each other */
.iconcolumn {

	float: left;
	width: 14%;
	padding: 10px;

	/*padding-left: 3.5%;*/
	
	margin-top: 60px;
	text-align: center;

}

.filtericon {
	position: relative;
	width: 57px;
	height: 57px;
	border-radius: 50%;
	background: #4CB9B2;
	text-align: center;
	margin: 0 auto;
	cursor: pointer;
}

.filtericon:hover {
	background: #FBC02D;
}

.filtertxt {
	text-align: center;
	/*padding-left: -3.5% !important;*/
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	margin-top: 5px;
}


.ortxt {
	position: relative;
	text-align: center;
	width: 80px;
	height: 23px;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;

	top: 75px;
	/*left: 540px;*/
	margin: 0 auto;
	background-color: #FFFFFF;
}


.horline {
	position: relative;
	top: 100px;
	left: 0px;
	width: 80%;
	
}


.searchcontainer {
	position: relative;
	width: 80%;
	top: 130px;
	margin: 0 auto;
	/*border: 1px solid black;*/
}

/*input[type=text] {
	width: 33.05vw;
	height: 51px;
	box-sizing: border-box;
	border-radius: 30px;
	background: #FFFFFF;
	border: 1px solid #000000;
	padding-left: 50px;
	font-size: 25px;
	font-weight: 200;
	background-image: url('searchicon.png');
	background-position: 10px 10px; 
		background-repeat: no-repeat;
}*/


.searchbar {
	position: relative;
	/*top: 135px;*/
	/*left: 261px;*/
	left: 10%;
	width: 35vw;
	height: 51px;
	box-sizing: border-box;
	border-radius: 30px;
	background: #FFFFFF;
	border: 1px solid #000000;
	padding-left: 50px;
	font-size: 25px;
	font-weight: 200;
	background-image: url('searchicon.png');
	background-position: 10px 10px; 
		background-repeat: no-repeat;
}

.submitbutton {
	position: relative;
	width: 150px;
	height: 51px;
	top: 0px;
	/*left: 265px;*/
	left: 15%;

	background: #F57F17;
	border-radius: 30px;
	color: #FFFFFF;
	font-weight: 300;
	font-size: 25px;
	line-height: 29px;
	text-align: center;
	border: none;

	cursor: pointer;
}

.submitbutton:hover {
	background: #FBC02D;
}

.gridcontainer {
	/*top: 50px;*/
	position: relative;
	max-width: 1200px;
	/*max-width: 81.25vw;*/
	margin: 0 auto !important;
	display: grid;
	grid-gap: 1rem;
	/*margin-left: 60px;*/
	top: 200px;
}

.card {
	/*background-color: dodgerblue;*/
	color: white;
	padding: 1rem;
	height: 20rem;
	float: center;
	text-align: center;
	vertical-align: middle;
	/*width: 25%;*/

}

.bottomcard {
	position: relative;
	background-color: #FDDF96;
	width: 100%;
	height: 40%;
	top: -10px;
	padding-top: 20px;
	font-size: 20px;
	line-height: 23px;
	border-radius: 0px 0px 10px 10px; 
	color: #000000;

	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.learnmorebutton {
	position: relative;
	width: 130px;
	height: 40px;

	background: #FFFFFF;
	border: 1px solid #F57F17;
	box-sizing: border-box;
	text-align: center;
	font-weight: 300;
	font-size: 18px;
	line-height: 21px;
	text-align: center;

	color: #F57F17;
	padding-top: 8px;
	/*left: 25%;*/
	margin: 0 auto;
	top: 10px;
	cursor: pointer;
}

.learnmorebutton:hover {
	color: #FFFFFF;
	background: #F57F17;
	/*border: 1px solid #FFFFFF;*/
}

@media (min-width: 0px) {
	.gridcontainer { 
		grid-template-columns: repeat(1, 1fr); 
		max-width: 70vw;
	}
	.card {
		margin-top: 100px;
		height: 20rem;
	}


}


@media (min-width: 700px) {
	.gridcontainer { 
		grid-template-columns: repeat(2, 1fr);
		max-width: 81.25vw; 
	}
	.card {
		margin-top: 40px;
		height: 21rem;
	}
}

/*@media only screen and (max-width: 850px)  {
	.vtopnav {
		top: 100px;
	}
	.vtopnav a {
		float: center;
	}
}*/

@media (min-width: 1000px) {
	.gridcontainer { 
		grid-template-columns: repeat(3, 1fr); 
		max-width: 81.25vw;
	}
	.card {
		height: 22rem;
	}
}

@media (min-width: 1200px) {
	.gridcontainer { 
		grid-template-columns: repeat(4, 1fr); 
		max-width: 81.25vw;
	}
	.card {
		height: 20rem;
	}
}

body {
    font-family: 'Roboto', 'sans serif';
    font-style: normal;
    font-weight: normal;
    color: #000000;
}
    /* Navbar Style*/
    .sidenavbar {
        height: 100%;
        width: 75px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background: #4CB9B2;
        border-radius: 0px 10px 10px 0px;
        overflow-x: hidden;
        padding-top: 170px;
        text-align: center;

    }

    .sidenavbar a {
        /*padding: 6px 8px 6px 16px;*/
        padding-bottom: 55px;
        text-decoration: none;
        font-size: 25px;
        color: #FFFFFF;
        display: block;
    }

    .sidenavbar a:hover {
        fill: orange;
        color: orange;
    }

    .homesvg {
        /*color: #FFFFFF;*/
        fill: #FFFFFF;
        width: 40px;
    }

    .homesvg:hover {
        width: 80px;
    /*box-shadow: 120px 80px 40px 20px #0ff;*/
    }

    .homesvgpath:hover {
        /*fill: #FBC02D;*/
        width: 80px;
        /*box-shadow: 120px 80px 40px 20px #0ff;*/
    }

    .homesvgpath:active {
        fill: #FBC02D;
    }

    .perkssvg {
        fill: #FFFFFF;	
    }

    .perkssvg:hover {
        margin-top: -10px;
        width: 60px;
        height: 60px;
    
    }

    .perkssvgpath:active {
        fill: #FBC02D;
    }

    .promotesvg {
        margin-top: 10px;
        width: 45px;
    }

    .promotesvg:hover {
        margin-top: 0px;
        width: 55px;
        height: 50px;
    }


    .promotesvgpath:active {
        fill: #FBC02D;
    }


    /* Content style*/

    .content {
        /* Dont change*/
        margin-left: 60px; 
        margin-top: -10px;
        margin-right: -10px;
        margin-bottom: -10px;
        font-size: 28px; 
        padding: 0px 10px;
        background-color: #EDF0F0;

        /* Change height */
        height: 1848px;
    }

    .titletxt {
        position: relative;
        width: 822px;
        left: 60px;
        top: 50px;
        
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;

        color: #4CB9B2;
    }

    .bellsvg {
        position: relative;
        float: right;
        top: 10px;
        right: 220px;

    }

    .usericon {
        position: relative;
        float: right;
        top: 10px;
        right: 90px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #FFFFFF;
        min-width: 210px;
        border-radius: 10px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        float: right;
        text-align: right;
        right: 130px;
        top: 72px;
        list-style-type:none;
        padding-top: 16px;
        padding-bottom: 25px;


        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;

    }

    .dropdown-content a {

        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }


    .dropdown-content a:hover {
        color: #4DB6AC;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }



    .description {
        display: flex;
        position: relative;
        width: 1170px;
        height: 191px;
        /*left: 60px;*/
        margin: 0 auto;
        top: 100px;

        background: #FFFFFF;
        border-radius: 40px;
    }

    .volunteerdescription{
        margin-top: 50px;
        margin-left: 60px;
    }
    .welcometxt {
        position: absolute;
        width: 582px;
        height: 42px;

        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
    }

    .points{
        display: flex;
        margin-top: 40px;
        margin-left: 35px;

        position: relative;
        left: 150px;
    }
    .points_img{
    margin-left: auto;
    }

    .points_text{
     padding-top: 10px;
    }

    .welcomecontxt {
        /* Dont change*/
        position: relative;
        width: 582px;
        height: 42px;
        font-size: 24px;
        line-height: 28px;

        top: 50px;
    }

    .boxtemplate {
        /* Dont change*/
        position: relative;
        width: 1170px;
        background: #FFFFFF;
        border-radius: 40px;


        /* Change here*/
        height: 1000px;
        /*left: 60px;*/
        margin: 0 auto;
        top: 150px;
    }

    .boxcontent {
        /* Dont change*/
        display: flex;
        width: 100%;
        position: relative;
        width: 582px;
        height: 29px;
        left: 60px;
        top: 35px;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
    }

    .posteddate{
        font-size: 15px;
        font-weight: 300;
        position: relative;
    }

    .volunteerdetails{
        position: relative;
        top: 20px;
        left: 50px;
        width: 575px;
        float: left;
        width: 50%;

        font-size: 20px;
        font-weight: 300px;
        letter-spacing: 0.05em;
        line-height: 30px;
    }

    
    .oppt_specifics{
        background: #fff;
        border: 5px solid #FBC02D;
        box-sizing: border-box;
        border-radius: 10px;
        margin: 10px;

        float: left;
        width: 40%;

        position: relative;
        left: 50px;
    }

    .oppt_specifics_txt{
        margin-left: 30px;
    }
    .where{
        width: 400px;
    }

    .specifics_text{
        font-size: 25px;
        letter-spacing: 0.1em;
        font-style: normal;
    }

    .specifics_location{
        letter-spacing: 0.05em;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;

        position: relative;
        top: -20px;
    }

    .volunteer_img{
        float: right;
        position: relative;
        right: 30px;
    }

.claimopp {
	position: relative;
	width: 250px;
	height: 60px;
	vertical-align: middle;
	text-align: center;
	margin: 0 auto;
	padding-top: 15px;
	background: #4CB9B2;
	border-radius: 30px;
}

.claimopp:hover {
	background: #FDCD01;
}

    .popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 15%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  /*left: 50%;*/
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}